@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 📌 스크롤바 완전 숨기기 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 📌 얇게 표시 (디자인 모드) */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

/* 완전 숨기기 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none;    /* Firefox */
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  @apply font-sans;
}
